[Desktop Entry]
Icon=application-pdf
Name=Clojure_Programming.pdf
Type=Link
URL[$e]=file://$HOME/expressCache/Dropbox/Ebooks/Clojure/Clojure_Programming.pdf
X-KDE-LastOpenedWith=evince
