[Desktop Entry]
Icon=application-pdf
Name=GraphDatabases.pdf
Type=Link
URL[$e]=file://$HOME/expressCache/GraphDatabases.pdf
X-KDE-LastOpenedWith=evince
